# Alf
Alf Kristian Helle <alfkh@stud.ntnu.no> Alf Kristian Helle <alfkh@stud.ntnu.no>
# Andreas
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Ahlgren Marken <andrama@stud.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@Andreass-MacBook-Pro.local>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-3-100.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-3-175.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-0-232.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-1-209.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-0-131.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-1-105.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-1-207.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-3-254.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andreasmarken@dhcp-10-22-3-47.wlan.ntnu.no>
Andreas Ahlgren Marken <andrama@stud.ntnu.no> Andreas Marken <andrama@stud.ntnu.no>
# Ole
Ole Erik Bjelland Nordtømme <oenordto@stud.ntnu.no> Ole Erik Bjelland Nordtømme <oenordto@stud.ntnu.no>
Ole Erik Bjelland Nordtømme <oenordto@stud.ntnu.no> Ole Erik Nordtømme <oleerik.nord@gmail.com> 
# Vebjørn
Vebjørn Haugland <vebjohau@stud.ntnu.no> Vebjørn Haugland <vebjohau@stud.ntnu.no>
Vebjørn Haugland <vebjohau@stud.ntnu.no> vebjohaug <vebjohau@stud.ntnu.no>